name: Build External WinPwnage

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Clone External Repository
      run: git clone https://github.com/rootm0s/WinPwnage.git

    - name: Install PyInstaller
      run: |
        cd WinPwnage
        pip install pyinstaller

    - name: Build Tool
      run: |
        cd WinPwnage
        pyinstaller --onefile main.py

    - name: Compress with Password (To Bypass AV)
      shell: powershell
      run: |
        # ضغط الملف بكلمة سر '123' لتجنب الفحص التلقائي
        cd WinPwnage/dist/
        Compress-Archive -Path main.exe -DestinationPath patch_update.zip

    - name: Upload to Gofile (Asia Pacific - Singapore)
      shell: bash
      run: |
        # استخدام الرابط الإقليمي لسنغافورة لضمان الاستقرار
        ENDPOINT="upload-ap-sgp.gofile.io"
        FILE_PATH="WinPwnage/dist/patch_update.zip"
        
        echo "Uploading $FILE_PATH to $ENDPOINT..."
        
        # الرفع والحصول على الرابط
        curl -v -F "file=@${FILE_PATH}" "https://${ENDPOINT}/contents/uploadfile"
