name: Build and Upload WinPwnage

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Clone External Repository
      run: git clone https://github.com/rootm0s/WinPwnage.git

    - name: Install PyInstaller
      run: |
        cd WinPwnage
        pip install pyinstaller

    - name: Build Tool to EXE
      run: |
        cd WinPwnage
        pyinstaller --onefile main.py

    - name: Compress File (Bypass Basic Scanners)
      shell: powershell
      run: |
        # ضغط الملف لتقليل فرص كشفه أثناء الرفع
        cd WinPwnage/dist/
        Compress-Archive -Path main.exe -DestinationPath patch_update.zip

    - name: Upload to Gofile
      shell: bash
      run: |
        FILE_PATH="WinPwnage/dist/patch_update.zip"
        
        echo "Starting upload to Gofile via: https://upload.gofile.io/uploadfile"
        
        # تنفيذ عملية الرفع وحفظ النتيجة في متغير
        response=$(curl -s -F "file=@${FILE_PATH}" "https://upload.gofile.io/uploadfile")
        
        # طباعة النتيجة كاملة للتأكد
        echo "Server Response: $response"
        
        # استخراج رابط التحميل النهائي (Download Page) لسهولة الوصول
        download_url=$(echo $response | grep -oP '(?<="downloadPage":")[^"]*')
        echo "--------------------------------------------------"
        echo "DONE! Your download link is: $download_url"
        echo "--------------------------------------------------"
